<!-- <mat-sidenav-container class="example-container" [autosize]="true">
  <mat-sidenav mode="push" [opened]="opened">Drawer content</mat-sidenav>
 
    <div class="container">
      <button (click)="opened = !opened">Open</button>
      <router-outlet></router-outlet>
    </div>
  
</mat-sidenav-container> -->
<mat-toolbar class="header-wrapper d-flex align-items-center justify-content-start px-4">
  <button *ngIf="isMobile" mat-icon-button mat-button (click)="drawer.toggle()" class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon class="cusror-pointer mt-2">menu</mat-icon>
  </button>
  <mat-icon class="cusror-pointer mb-1 mx-2">pets</mat-icon>
  <h3 class="cusror-pointer">
    PETTLE
  </h3>

</mat-toolbar>

<mat-drawer-container class="example-container" [autosize]="true">
  
  <mat-drawer #drawer [opened]="opened" class="example-sidenav" [mode]="sidenavMode">
    <mat-card class="sidenav-card">
      <h5>Main Menu</h5>
      <mat-list>
        <mat-list-item class="cusror-pointer">Menu Item 1</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="cusror-pointer">Menu Item 2</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item class="cusror-pointer">Menu Item 3</mat-list-item>
      </mat-list>
  </mat-card>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div class="">
      <router-outlet></router-outlet>
    </div>
  </div>

</mat-drawer-container>